/* 
    Document   : ie6
    Created on : Dec 6, 2011, 7:30:01 AM
    Author     : mercerjd
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

